/*
 *Name: Elstan Bultonsheen
 *Date: 11/24/20
 *Description: Website Test
 */
 
body {
    background-color: #F2F2F2;
}

a:link, a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: #F8F8F8;
    text-decoration: none;
}

#purpose{
    float: left;
    background-color: #BBBBBB; 
    height: 50vh; 
    width: 50vw;
    padding: 2%;  
}

club{
    float: left;
}

#imgclub {
    max-width: 300px;
    max-height: 300px;
    padding: 25px;
    padding-left: 250px;
}

hobby{
    float: left;
}

#imghobby {
    max-width: 400px;
    max-height: 500px;
    padding: 50px;
    padding-left: 200px;
}

th {
    padding-right: 20px;
}

#contact{
    padding-top: 5%;
    text-align: center;
}

#logo {
    height: 50vh;
    width: auto;
    padding: 2%;
    padding-left: 15vw;
}

#photo-resize {
    border: 10px outset #B49000;
    max-width: 200px;
    max-height: 250px;
}

#aboutMeData{
    background-color: #BBBBBB; 
    height: 300px; 
    width: 300px;
    padding: 10px;
}

/* #education {
    max-width: 100px;
    max-height: 150px;
    padding: 50px;
    float: right;
} */

#educationTableData{
    background-color: #BBBBBB; 
    height: 200px; 
    width: 300px;
    /**border: 5px solid #B49000;*/
    padding: 10px;
}

#projectDescription{
    float: left;
    background-color: #BBBBBB; 
    height: 350px; 
    width: 700px;
    padding: 10px;
}

#imgCalc{
    padding-left: 160px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

#imgBeLive{
    padding: 10px;
}

#imgCLippy{
    padding: 10px;
}

#imgiTrust2{
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

#spacing{
    padding: 10px;
}

@media screen and (max-width: 850px) {
    #purpose{
        width: 100%;
        height: auto;
    }
    #logo{
        padding-left: 0ch;
        width: 100%;
        height: auto;
    }
}


